name: CI

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches: [main]
    tags:
      - "*"
  pull_request:
    branches: [main]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    strategy:
      matrix:
        os: [linux, darwin]
        arch: [amd64, arm64]

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      - uses: actions/checkout@v6

      - name: Install and run Spectral CI
        uses: spectralops/spectral-github-action@v5
        with:
          spectral-dsn: ${{ secrets.SPECTRAL_DSN }}
          spectral-args: scan --ok

      - name: Setup Go environment ${{ matrix.os }} ${{ matrix.arch }}
        uses: actions/setup-go@v6
        with:
          go-version-file: go.mod
          cache-dependency-path: go.sum

      - uses: borales/actions-yarn@v5
        with:
          cmd: install # will run `yarn install` command

      - uses: borales/actions-yarn@v5
        with:
          cmd: build

      - name: Build executable
        run: |
          mkdir -p ./dist
          go build -o ./dist/currencies-calculator
        env:
          GOOS: ${{ matrix.os }}
          GOARCH: ${{ matrix.arch }}

      - name: compress executable
        run: |
          cd dist
          chmod +x currencies-calculator
          zip currencies-calculator-${{ matrix.os }}-${{ matrix.arch }}.zip currencies-calculator

      - name: Release
        uses: softprops/action-gh-release@v2
        if: startsWith(github.ref, 'refs/tags/')
        with:
          generate_release_notes: true
          repository: wasilak/currencies-calculator
          files: |
            dist/currencies-calculator*.zip
